{% extends 'base.html' %}
{% load static %}
{% block content %}

<main class="container mt-5">
    <h1 class="mb-4 text-center">Create Vehicle Project</h1>
    <form method="post" enctype="multipart/form-data" class="custom-form">
        {% csrf_token %}
        
        <div class="form-group">
            {{ form.non_field_errors }}
        </div>

        {% for field in form %}
            {% if field.name != 'slug' and field.name != 'owner' %}
                <div class="form-group">
                    <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                    {{ field }}
                    <div class="text-danger">{{ field.errors }}</div>
                </div>
            {% endif %}
        {% endfor %}
        
        <div class="text-center">
            <button type="submit" class="btn btn-primary btn-lg">Save</button>
        </div>
    </form>
</main>

{% endblock %}
